
#clockdiv{
    font-family: sans-serif;
    color: #000000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
  }
  
  #clockdiv > div{
    /* padding: 5px; */
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: rgb(227, 224, 224);
    display: inline-block;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 12px;
  }